@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.header-top {
  background-color: #819282;
  background-color: #819282;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 5px 10px;
  width: 100%;

  span {
    text-transform: uppercase;
  }
}
.header-primary {
  background-color: #F7F5F5;
  .login-head {
    background-color: #F7F5F5;

    .header-login {
      color: #F7F5F5;
      color: #8b9092;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-left: 2px;
      text-decoration: none;
      text-transform: uppercase;

      &:after {
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;
        z-index: 500;
      }

      &:hover {
        color: pink;
        transition: ease 0.2s ease;
      }
    }
  }
}

.navbar {
  background-color: #F7F5F5;

  .navbar-brand {
    color: black !important;
    font-family: monospace;
    font-size: 2em;
    font-style: bolder;
    font-style: italic;
    text-transform: uppercase;

    img {
      height: auto;
      max-width: 75px;
      width: 75px;
    }
  }

  .navbar-nav {
    .nav-item {
      overflow: hidden;

      .nav-link {
        color: #2a2a2a;
        font-family: 'lato', sans-serif;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 5px 25px;
        position: relative;
        text-transform: uppercase;

        &:before {
          background-color: #60767d;
          bottom: 0;
          content: "";
          height: 3px;
          left: -100%;
          position: absolute;
          transition: 0.2s;
          width: 100%;
        }

        &:hover {
          &:before {
            left: 0;
          }
        }

        .fa-user {
          margin: 0 7px 0 0;
        }

        .fa-shopping-cart {
          margin: 0 7px 0 0;
        }

        &:hover {
          color: #60767d;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #72b6af !important;
}
// CAROUSEL SECTION ->
.section-carousel {
  .carousel-indicators {
    li {
      height: 12px;
      margin-left: 2px;
      margin-right: 5px;
      position: relative;
      width: 15px;
    }
  }

  .carousel-inner {
    .carousel-item {
      img {
        height: 70vh;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  .carousel-control-next {
    background-color: black;
    opacity: 0.2;
    border-radius: 4px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 70px;

    &:hover {
      border-radius: 100%;
      opacity: 0;
      transition: 0.5s ease-in-out;
      cursor: url("http://johnuberbacher.com/projects/codepen/arrow-right.png"), default !important;
    }
  }

  .carousel-control-prev {
    background-color: black;
    opacity: 0.2;
    border-radius: 4px;
    height: 50px;
    left: 20px;
    position: absolute;
    top: 50%;
    width: 70px;

    &:hover {
      border-radius: 100%;
      opacity: 0;
      transition: 0.3s ease-in;
      cursor: url("http://johnuberbacher.com/projects/codepen/arrow-left.png"), default !important;
    }
  }
}
// slide one content ->
.carousel-caption.one {
  text-align: center;
  top: 20%;
  transform: translate(0%, 0vh);
  animation: mymove 1.8s;
  animation-fill-mode: forwards;

  .alt-font {
    animation-timing-function: ease;
    font-weight: normal;
    line-height: 1;
    font-size: 2em;
    font-family: "Dancing Script", sans-serif;
    padding-left: 7%;
    color: #d0e4ff;
  }
}

.carousel-caption.two {
  top: 25%;
  transform: translate(0%, 0vh);
  animation: mymove1 1.3s;
  animation-fill-mode: forwards;

  .uppercase {
    margin-top: 0.3em;
    font-size: 3em;
    font-weight: bolder;
    color: #ececec;
    span {
      padding-left: 60px;
    }
  }
}
.carousel-caption.three {
  top: 46%;
  transform: translate(9%, 0vh);
  animation: mymove 1.8s;
  animation-fill-mode: forwards;
  hr {
    border: 1px solid white;
    width: 30px;
    margin: 20px;
    margin-left: 45px;
  }
  .primary-product-button {
    background-color: #072e40;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: #02151e;
    }
  }

}
// second slide content here ->
.carousel-caption.second {
  top: 15%;
  transform: translate(0%, 0vh);
  animation: flip 1.3s;
  animation-fill-mode: forwards;

  .alt-font {
    animation-timing-function: ease;
    font-weight: normal;
    line-height: 1;
    font-size: 2em;
    font-family: "Dancing Script", sans-serif;
  }
  hr {
    border: 1px solid black;
    width: 30px;
  }
  .uppercase-lg {
    font-size: 5em;
  }
  .primary-product-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 3;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

// slide three content ->
.carousel-caption.third-one {
  text-align: center;
  top: 20%;
  transform: translate(-5%, 0vh);
  animation: mymoveright 1.8s;
  animation-fill-mode: forwards;

  .alt-font {
    animation-timing-function: ease;
    line-height: 1;
    font-size: 2em;
    font-family: "Dancing Script", sans-serif;
    color: #962d2d;
  }
}

.carousel-caption.third-two {
  top: 25%;
  transform: translate(0%, 0vh);
  animation: mymoveright1 1.3s;
  animation-fill-mode: forwards;

  .uppercase {
    color: #444444;
    margin-top: 0.3em;
    font-size: 3em;
    font-weight: bolder;
    span {
      padding-right: 60px;
    }
  }
}
.carousel-caption.third-three {
  top: 47%;
  transform: translate(-9%, 0vh);
  animation: mymoveright 1.8s;
  animation-fill-mode: forwards;
  hr {
    border: 1px solid black;
    width: 30px;
    transform: translate(60vh,0%);
  }
  .primary-product-button {
    background-color: #551f1f;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 3;

    &:hover {
      background-color: #2c0d0d;
    }
  }
}
#collections {
  .image-holder {
    overflow: hidden;
    img {
      width: 68vh;
      height: 30vh;
      display: flex;
      object-fit: cover;
      flex-wrap: wrap;
      opacity: 0.8;
      position: relative;
      &:hover {
        opacity: 1;
        transition: 0.6s ease-out;
        width: 70vh;
      }
    }
    .text-holder {
      position: absolute;
      top: 10vh;
      left: 16vh;
      transform: translate(0%,0%);
      text-transform: uppercase;
      strong {
        font-size: 12px;
        color: white;
      }
      h2 {
        font-weight: 700;
        color: white;
        font-size: 1.3em;
      }
      a {
        border-radius: 20px;
        border: 1px solid white;
        font-size: 8px;
        padding: 3px 5px;
        color: white;
        font-weight: 700;
        text-decoration: none;

      }
    }
  }
}
// Welcome to our shop content ->
#welcome {
  margin-top: 50px;
  margin-bottom: 50px;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #7d2121;
    font-size: 2em;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .about-btn {
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    font-size: 12px;
    padding: 8px 15px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: black;
      color: white;
    }

  }
  .shop-btn {

    border-radius: 20px;
    border: 2px solid black;
    background-color: black;
    font-size: 12px;
    padding: 8px 15px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

  }
}
// featured 3 items
.featured-items-collection {
  background-color: #F7F5F5;
  padding-bottom: 150px;
  padding-top: 100px;
  position: relative;
  .text-heading {
    .text-holder {
      hr {
        border: 1px solid gray;
        color: gray;
        margin-bottom: 50px;
        width: 40px;
      }

      h2 {
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .image-content {
    background: #000000;
    color: #fff;
    float: left;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 10px 1%;
    max-height: 220px;
    max-width: 310px;
    min-width: 220px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: -1px 1px 31px -5px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 1px 31px -5px rgba(0,0,0,0.59);
    box-shadow: -1px 1px 31px -5px rgba(0,0,0,0.59);

    * {
      box-sizing: border-box;
    }

    img {
      opacity: 1;
      transition: opacity 0.35s;
      width: 100%;
    }

    .text-holder {
      height: 100%;
      left: 0;
      position: absolute;
      text-align: left;
      top: 0;
      width: 100%;

      > div {
        float: left;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 50%;
      }

      &::before {
        background-color: rgba(255, 255, 255, 0);
        bottom: 50%;
        content: '';
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transition: all 0.4s;
        transition-delay: 0.6s;
        width: 2px;
      }
    }

    h2,
    p {
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 20px;
      position: absolute;
      top: 0;
      transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
      width: 100%;
    }

    h2 {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      display: inline-block;
      font-weight: 300;
      text-align: right;
      text-transform: uppercase;
      transform: translate3d(50%, 0%, 0);
      transition-delay: 0s;
      word-spacing: -0.1em;

      span {
        font-weight: 800;
      }
    }

    p {
      -webkit-transform: translate3d(-50%, 0%, 0);
      -webkit-transition-delay: 0s;
      background: #ffffff;
      bottom: 0;
      color: #000;
      display: block;
      font-weight: 300;
      text-align: left;
      top: 0;
      transform: translate3d(-50%, 0%, 0);
      transition-delay: 0s;
    }

    a {
      bottom: 0;
      color: #ffffff;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover {
      img {
        opacity: 0.7;
      }

      .text-holder {
        h2,
        p {
          transform: translate3d(0%, 0%, 0);
          transition-delay: 0.3s;
        }

        h2 {
          opacity: 1;
        }

        p {
          opacity: 1;
        }

        &::before {
          background: #ffffff;
          bottom: 0;
          opacity: 1;
          top: 0;
          transition-delay: 0s;
        }
      }
    }
  }
}
// hover effect of the gallery
.fa-instagram {
  content: "\f16d";
  left: 43%;
  position: absolute;
  top: 35%;
  transform: translate3d(0%, 0%, 0);
}
// products list BROWSE
body {
  font-family: 'Raleway', sans-serif;
  margin-left: 0 auto;
  max-width: 1600px;
}

.figure-img {
  display: block;
  height: 100%;
  margin: 0;
  object-fit: cover;
  width: 100%;
}

.info1,
.info2 {
  background-color: #000c12;
  color: #fff;
  padding: 40px;
}

h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: 400;
}

p {
  font-weight: lighter;
  margin-bottom: 1rem;
}

a {
  color: #ffb9b9;
  text-decoration: none;
}
// parallax section
.parallax-heading-bg {
  background-attachment: fixed;
  background-image: url("../img/carousel-one.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  max-width: 100%;
  width: 100%;

  .tagline {
    left: 50%;
    text-align: center;
    top: 54%;
    transform: translate(0%, 17vh);

    p {
      color: white;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 300;
    }
  }
}
// footer content here ->
footer {
  .text-footer {
    background-color: #29292c;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder;
    height: 20vh;
    padding: 20px 31px;
    text-align: center;

    .text-left {
      color: #d5d5d5;
    }

    .text-right {
      a {
        color: #72b6af;
      }
    }
  }
}
@keyframes mymove {
  from {
    left: 100px;
  }

  to {
    left: 210px;
  }
}
@keyframes mymove1 {
  from {
    left: 100px;
    opacity: 0;
  }

  to {
    left: 200px;
    opacity: 1;
  }
}
@keyframes mymoveright {
  from {
    right: 100px;
  }

  to {
    right: 210px;
  }
}
@keyframes mymoveright1 {
  from {
    right: 100px;
    opacity: 0;
  }

  to {
    right: 200px;
    opacity: 1;
  }
}
@keyframes flip {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  40% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  50% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  80% {
  -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
  transform: perspective(400px) scale3d(.95, .95, .95);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
}
.info-bg-section {
  background-color: white;
}

@media (max-width: 575px) {
  .section-carousel {
    .carousel-inner {
      .carousel-item {
        img {
          height: unset;
        }
      }
    }
  }

  .background-1 {
    .image-content {
      .text-holder {
        h2 {
          font-size: 16px;
          margin: 0 0 10px;
        }

        p {
          font-size: 12px;
          margin: 0 0 10px;
        }

        .btn {
          font-size: 10px;
          margin: 0 0 10px;
          padding: 3px 25px;
        }
      }
    }
  }

* {
 /*CSS transitions*/
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
 /*CSS transforms*/
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 /*CSS animations*/
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
 }

 // slide one content ->
 .carousel-caption.one {
   top: 0%;
   transform: translate(0%, 0vh);

   .alt-font {
     text-align: center !important;
     font-size: 1em;
   }
 }

 .carousel-caption.two {
   top: 10%;
   transform: translate(0%, 0vh);
   .uppercase {
     text-align: center !important;
     font-size: 1em;

     span {
       padding-left: 0px;
     }
   }
 }
 .carousel-caption.three {
   top: 30%;
   transform: translate(0%, 0vh);
       text-align: center !important;
   hr {
    text-align: center !important;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
   }
   .primary-product-button {
     font-size: 10px;
     padding: 5px 10px;
   }
 }
 // second slide content here ->
 .carousel-caption.second {
   top: 0%;
   transform: translate(0%, 0vh);
   .alt-font {
     font-size: 1.3em;
   }
   .uppercase-lg {
     font-size: 2em;
   }
   .primary-product-button {
     font-size: 12px;
     padding: 5px 10px;
   }
 }

 // slide three content ->
 .carousel-caption.third-one {
   text-align: center !important;
   top: 0%;
   transform: translate(0%, 0vh);
   .alt-font {
     font-size: 1em;
   }
 }
 .carousel-caption.third-two {
   top: 10%;
   transform: translate(0%, 0vh);
text-align: center !important;

   .uppercase {
     color: #444444;
     font-size: 1.5em;
     span {
       padding-right: 0px;
     }
   }
 }
 .carousel-caption.third-three {
   top: 30%;
   transform: translate(0%, 0vh);
   text-align: center !important;
   hr {
     display: none
   }
   .primary-product-button {
     font-size: 10px;
     padding: 5px 10px;
  line-height: 9;

   }
 }
  // Collections
  #collections {
    .image-holder {
      img {
        max-width: 100vh;
      }
      .text-holder {
        position: absolute;
        top: 10vh;
        left: 11vh;
      }
    }
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
  #collections {
    .image-holder {
      img {
        width: 100vh;
        max-width: 150vh;
        &:hover {
          opacity: 1;
          transition: 0.6s ease-out;
          width: 120vh;
          max-width: 120vh;
        }
      }
      .text-holder {
        top: 10vh;
        left: 3vh;
        text-align: center !important;
      }
    }
  }
  * {
   /*CSS transitions*/
   -o-transition-property: none !important;
   -moz-transition-property: none !important;
   -ms-transition-property: none !important;
   -webkit-transition-property: none !important;
   transition-property: none !important;
   /*CSS transforms*/
   -o-transform: none !important;
   -moz-transform: none !important;
   -ms-transform: none !important;
   -webkit-transform: none !important;
   transform: none !important;
   /*CSS animations*/
   -webkit-animation: none !important;
   -moz-animation: none !important;
   -o-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
   }
}
@media (max-width: 1199px) {
  .navbar-nav {
    .nav-item {
      margin-left: 0.5em;

      .nav-link {
        &:before {
          width: 60% !important;
        }
      }
    }
  }

  .navbar {
    .navbar-toggler {
      background-color: #72b6af;
    }
  }
}
@media (min-width: 600px) {
  .bp-section {
  padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F7F5F5;
    .heading {
      hr {

        border: 1px solid gray;
        color: gray;
        margin-bottom: 50px;
        width: 40px;
      }

      h2 {
        text-align: center !important;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-top: 50px;
    }

    .info1 {
      grid-column: span 2;
      grid-row: span 2;
    }
    .info2 {
      grid-column: span 2;
    }



    .figure1 {
      grid-column: span 3;
      grid-row: span 2;
      position: relative;

      h2 {
        position: absolute;
        z-index: 1;
        top: 20vh;
        right: 29vh;
        color: white;
        font-weight: 700;
        font-size: 2em;

      }
    }

    .figure6 {
      grid-column: span 2;
    }

    .figure7 {
      grid-column: span 3;
    }

    .figure8 {
      grid-column: span 3;
    }

    figure {
      background: rgba(33, 15, 15, 0.5);
      margin: 0, 0, 0 !important;

      img {
        &:hover {
          opacity: 0.5;
        }
        &:after {
          content: "jaha";
        }
      }
    }
  }
}
